* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: #380B61;
    margin-left: 10%;
}

form label{
    color:#292949;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

.campo {
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color: #59429d;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo selected, .campo textarea {
    padding: 0.2em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
    display: block;
}

.caixaNome {
    width: 320px;
}

.caixaSobrenome {
    width: 320px;
}

.caixaEmail {
    width: 320px;
}

.mandaMensagem {
    display: flex;
    justify-content: center;
}

.insiraInfo {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 18px;
}

.escrevaMensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.Escolaridade {
    padding: 15px;
    font-size: 18px;
}

form button{
    padding: 10px;
    cursor:pointer;
    font-size: 20px;
    background: transparent;
    border: 2px solid white;
    background-color: #ffffff;
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover{
    background: #292949;
    color: white;
    border-radius: 16px;
}

