footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.container {
    background-color: #ffa500;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.programas {
    font-size: 20px;
    margin-top: 20px;
    grid-column-start: 2;
}

.footer-link {
    text-decoration: none;
    font-size: 20px;
}

.lista {
    align-items: center;
}

.lista h3 {
    font-size: 20px;
    margin-top: 20px;
}
  
ul {
    list-style: none;
}
  
ul a {
    color: white;
    margin-top: 30px;
}
  
ul a:hover {
    color: rgb(0, 37, 250);
}