footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #ffa500;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.programas {
    font-size: 14px;
    margin-top: 20px;
    margin-right: 72px;
    grid-column-start: 2;
}

.programas img {
    width: 100px;
}

.programas h2 {
    color: #1a1a9a;
}

.contato {
    margin-top: 50px;
    list-style: none;
}
  
.contato a {
    color: white;
    margin-top: 30px;
}
  
.contato a:hover {
    color: rgb(250, 0, 0);
}

.lista h3 {
    color: #1a1a9a;
}

.container a {
    color: #1a1a9a;
}