@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #E4E6EB;
}

.html-imagem {
    width: 120px;
}

.css-imagem {
    width: 120px;
}

.js-imagem{
    width: 120px;
}

.bem-vindo {
    display: flex;
}

.texto h1 {
    margin-top: 190px;
    padding-left: 100px;
    text-align: center;
}

.texto p {
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    padding-left: 100px;
}

.linha {
    background-color: #1a1a9a;
    height: 4px;
    width: 100%;
    margin-top: 100px;
}

.fundo img{
    width: 600px;
    margin-top: 0px;
    margin-left: 150px;
}

.pesquisa {
    padding: 20px;
    margin-top: 100px;
}

.pesquisa p {
    margin-left: 855px;
    font-size: 20px;
}

.trabalhoPrincipal {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    column-gap: 25px;
    row-gap: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.barrapesquisa {
    height: 30px;
    border: 1px solid #bebebe;
    height: 10px;
    width: 400px;
    border-radius: 5px;
    font-size: 1.4rem;
    padding: 15px;
    margin-left: 713px;
}

.barrapesquisa:focus-visible {
    outline: 1px solid rgb(255, 153, 0);
}

.texto p {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.texto h1 {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}